.nav li{
  display: inline;
}

a{

}

.jumbotron{
  background-image:url(image/VileStudio.png); 
  height: 500px;
  background-repeat: no-repeat;
}

.jumbotron .container{
  position: relative;
  float: right;
  font-size: 22px;
  text-align: right;
  margin-top: 340px;
}

.jumbotron .container h1{
  text-shadow:none;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}

*{
  font-family: trebuchet,arial,sans-serif; 
}