.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px 14px 10px;
    text-transform: uppercase;
}
.tile li {
    display: inline;
    float: left;
}

.tile a {
    display: block;
    padding: 10px;
    margin-right: 5px;
}

.jumbotron {
    margin-top: 50px;
    height: 500px;
    background-image: url('http://goo.gl/04j7Nn');
    background-repeat: no-repeat;
    background-size: 100%;
}

.jumbotron h1 {
    font-family: 'Shift', sans-serif;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
}

.jumbotron p {
    color: #fff;
    font-size: 20px;
}

.learn-more {
    background-color: #f7f7f7;   
}

.learn-more h3 {
    font-family: 'Shift', sans-serif;  
    font-size: 18px;
    font-weight: bold;
}

.learn-more a {
    color: #00b0ff;   
}

#login  li{
    display: inline;
    float: left;
}

#login li a {
    display: block;
    padding: 10px;
    border: 1px solid red;
    margin-right: 5px;
}