.nav li {
	display: inline;
}

.nav a {
  color: #E74C3C;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.jumbotron {
	background-color: 
}

.jumbotron h {
	color: #2980B9;
}
.jumbotron p {
	color: #3498DB;
}

body {
	background-color: #2C3E50;
}